.head{
    display: flex;
   color: aliceblue;
   justify-content:space-around;
   font-size: 24px;
   padding: 0 230px;
}
body{
    background-color: rgb(5, 5, 20);}
.img{
margin-left: 400px;
}
.text #og{
    font-size: 40px;
    color: aliceblue;
    margin-left: 550px;
}
.text #cont1{
    font-size: 20px;
    color: aliceblue;
    margin-left: 350px;
}
#product, #us,#home, #cont{
    cursor: pointer;
}
#img{
    position: relative;
}
